<h1>Editing Operaziones Cat Colture</h1>

<%= render 'form', operaziones_cat_colture: @operaziones_cat_colture %>

<%= link_to 'Show', @operaziones_cat_colture %> |
<%= link_to 'Back', operaziones_cat_coltures_path %>
