<h1>Modifica Operazione</h1>

<%= render 'form', operazione: @operazione %>

<%= link_to 'Visualizza', @operazione, class:"btn btn-primary" %> |
<%= link_to 'Indietro', operaziones_path, class:"btn btn-info" %>
