<h1>Editing Trattamento</h1>

<%= render 'form', trattamento: @trattamento %>

<%= link_to 'Show', @trattamento , class:"btn btn-primary"%> |
<%= link_to 'Back', trattamentos_path , class:"btn btn-info"%>
