<h1>Modifica Operazione Trattamento</h1>

<%= render 'form', operazione_trattamento: @operazione_trattamento %>

<%= link_to 'Visualizza', @operazione_trattamento %> |
<%= link_to 'Indietro', operazione_trattamentos_path %>
