<h1>Editing Operazione Trattamento</h1>

<%= render 'form', operazione_trattamento: @operazione_trattamento %>

<%= link_to 'Show', @operazione_trattamento %> |
<%= link_to 'Back', operazione_trattamentos_path %>
