<h1>Modifica Categoria Prodotto</h1>

<%= render 'form', cat_prodotto: @cat_prodotto %>

<%= link_to 'Visualizza', @cat_prodotto, class:"btn btn-primary"%> |
<%= link_to 'Indietro', cat_prodottos_path, class:"btn btn-info" %>
