<h1>Costo per Coltura</h1>

    <!-- Ignite UI Required Combined CSS Files -->
    

<!-- Ignite UI Required Combined CSS Files -->
    <link href="http://cdn-na.infragistics.com/igniteui/2017.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
    <link href="http://cdn-na.infragistics.com/igniteui/2017.2/latest/css/structure/infragistics.css" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <!-- Ignite UI Required Combined JavaScript Files -->
    <script src="http://cdn-na.infragistics.com/igniteui/2017.2/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2017.2/latest/js/infragistics.dv.js"></script>

<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    


<table id="data">
	<thead>
		<th>Coltura</th>
		<th>Costo Prodotti [euro]</th>
		<th>Costo Carburante [euro]</th>
	</thead>
	<tbody id="tab">

	</tbody>
</table>

    <div  id="data_carburante" ></div>
    <script>
$( document ).ready(function() {


            $.ajax({
                            url: "costo_per_coltura.json",
                            dataType: "json",
                            timeout: 800000,
                            cache: true}).done(function (o) {
                            	console.log(o)
                            	for (var i = 0; i < o.length; i++)
                            {
                                $('#tab').append('<tr><td>' +o[i][0]+ '</td><td>'  +o[i][1]+ '</td><td>'  +o[i][2]+ '</td></tr> ')
                            }
                            $('#data').DataTable();

                        });



 
                        

             
  var dater=$.ajax({
                            url:"http://trattamenti-web-service-filippo95.c9users.io/charts.php?query=carburante" ,
                            async: false
                            }).responseText;
console.log("ajax finisched");
console.log(dater);
$('#container').append(dater);
  $( document ).ajaxComplete(function() {
      console.log("ajax fatto");
      console.log(dater);
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Browser market shares January, 2015 to May, 2015'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: <%="[{name:'Mele Fuji Crevalcore',y:5.44},{name:'Mele Fuji Renazzo',y:2.72}]" %>
    }]
});
  });
  





  
  
  
  
  
  
  
  
  
  
  
  
  
});
  
  
  
  
  
  



    </script>
