<h1>Modifica Prodotto Trattamento</h1>

<%= render 'form', prodotto_trattamento: @prodotto_trattamento %>

<%= link_to 'Visualizza', @prodotto_trattamento %> |
<%= link_to 'Indietro', prodotto_trattamentos_path %>
