<h1>Editing Prodotto Trattamento</h1>

<%= render 'form', prodotto_trattamento: @prodotto_trattamento %>

<%= link_to 'Show', @prodotto_trattamento %> |
<%= link_to 'Back', prodotto_trattamentos_path %>
