<h1>Editing Prodottos Operazione</h1>

<%= render 'form', prodottos_operazione: @prodottos_operazione %>

<%= link_to 'Show', @prodottos_operazione %> |
<%= link_to 'Back', prodottos_operaziones_path %>
