<h1>Modifica Categorie Colture</h1>

<%= render 'form', cat_colture: @cat_colture %>

<%= link_to 'Visualizza', @cat_colture, class:"btn btn-primary" %> |
<%= link_to 'Indietro', cat_coltures_path, class:"btn btn-info" %>
