<h1>Modifica Prodotto</h1>

<%= render 'form', prodotto: @prodotto %>

<%= link_to 'Visualizza', @prodotto, class:"btn btn-primary" %> |
<%= link_to 'Indietro', prodottos_path , class:"btn btn-info"%>
